/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    /*Al establecer border-box el ancho y alto de un elemento se incluyen el padding, el borde y el contenido.
    Al no establecer border box al agregar un padding o un borde el tamaño del elemento cambia y afecta al diseño*/
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F8FAE5;
    color: #fff;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #0d324d; /* Fondo del contenedor */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

h1 {
    font-size: 26px;
    margin-top: 15px;
    text-align: center;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
    color: #FAF3F0/*DCF2F1*/;
}

p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FAF3F0;
}

/* Estilos de entrada de texto */
textarea {
    width: calc(100% - 110px);
    height: 100px;
    resize: none; /* controla si el usuario puede cambiar el tamaño del <textarea>*/
    padding: 10px;
    margin: 0 auto 15px auto; /* Ajuste para centrar */
    display: block; /* Ajuste para centrar */
    border: none;
    border-radius: 20px;
    background-color: #F5F7F8;
    color: #0f5c94;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
    outline: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; 
}

/*Estilos para botones*/
.input-container button, 
.button-container button, 
.output-container button{
    width: 120px;
    height: 33px;
    background-color: #12bbad; 
    color: #FFF; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px; 
    transition: background-color 0.3s ease, color 0.3s ease; /* Animación de cambio de color de fondo y texto */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
    font-family: 'Times New Roman', Times, serif;
}

/*Estilos especificos para los botones de pegar y copiar*/
.input-container, 
.output-container{
    text-align: right;
}
.input-container button, 
.output-container button{
    margin-right: 55px;
    margin-bottom: 40px;
}

.input-container button:hover, 
.output-container button:hover,
.button-container button:hover {
    background-color: #1ccfc0; 
}

/*Estilos especificos para los botones de encriptar y desencriptar*/
.button-container{
text-align: center;
}
.button-container button{
    margin:12px 7px 18px;
}



/* Media queries para dispositivos más pequeños */
@media screen and (max-width: 480px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }

    textarea {
        height: 80px;
    }

    .input-container button, 
    .button-container button, 
    .output-container button {
        width: 100px;
        height: 30px;
        font-size: 12px;
        margin: auto;
    }

    .input-container, 
    .output-container {
        text-align: center;
        margin-bottom: 20px;
    }
}

